.img-fluid{
    height: 400px;
    image-resolution: initial;
    width: 80%;
    margin-left: 100px;
    border-radius: 10px;
    /* backface-visibility: hidden; */
    /* transform: translateZ(0); */
    align-items: center;
    margin-top: 100px;
}
.box1{
    height: 80px;
    width: 20%;
    background-color: aqua;
    margin-left: 500px;
    border-radius: 30px;
    /* position: fixed; */
}
h1{
    text-align: center;
    padding-top: 20px;
}
/* button{
    margin-top: 40px;
} */
table :hover{
    color: red;
}
/* .box{
    padding-top: 50px;
} */
 .bg{
    background-image: url('../static/images/stock.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
    margin-top: 0;
 }
 .navbar-brand{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
}
.icon{
    text-decoration: none;
}
.l{
    background-color: rgb(57, 255, 255);
    width: 80px;
    border-radius: 4px;
    border-width: 0;
 }