.img-fluid {
    background-image: url('../static/images/img3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    margin-top: 0;
}

.image1 {
    background-image: url('../static/images/img1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
    margin-top: 0;
}

/* .box1 {
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
    margin-top: 0;
} */

.box2 {
    background-image: url('../static/images/pic1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    width: 100%;
    margin-top: 0;
}

.box4 {
    background-image: url('../static/images/img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
    margin-top: 0;
}