{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="../static/css/dashboard.css">
{% endblock %}
{% block content %}
<header class="header">
    <h1>MyDuka DASHBOARD</h1></header>
    <div class="container-fluid">
        <div class="row rcard">
            <div class="col-3">
                <div class="card card-body ">
                    <h5 class="card-title">My Total Sales</h5>
                    <p class="card-text">{{tsales}}</p>
                </div>
            </div>
            <div class="col-3">
                <div class="card card-body">
                    <h5 class="card-title">My Profit</h5>
                    <p class="card-text">{{tprofit}}</p>
                </div>
            </div>
            <!-- <div class="col-3">
                <div class="card card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="col-3">
                <div class="card card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"></p>
                </div>
            </div> -->
        </div>
    </div>
    <div class="container-fluid mt-5 pt-5">
        <div class="row">
            <div class="col-6">
                <canvas id="bar-chart" width="800" height="450"></canvas>
            </div>
            <div class="col-6">
                <canvas id="line-chart" width="800" height="450"></canvas>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <canvas id="barchart" width="800" height="450"></canvas>
            </div>
            <div class="col-6">
                <canvas id="linechart" width="800" height="450"></canvas>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>
        // Bar chart
        new Chart(document.getElementById("bar-chart"), {
            type: 'bar',
            data: {
                labels: {{ pnames | safe}},
            datasets: [
            {
                label: 'Profits',
                backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850","#F5E027","#5EF527"],
                data: {{ pprofits | safe}}
                    }
        ]
            },
            options: {
            legend: { display: false },
            title: {
                display: true,
                text: 'Profit Per Product'
            }
        }
        });
        new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: {
                labels: {{ day | safe}},
            datasets: [{
                data: {{ my_profit | safe}},
            label: "Profit",
            borderColor: "#3e95cd",
            fill: false
                }
        ]
            },
            options: {
            title: {
                display: true,
                text: 'Profit Per Day'
            }
        }
        });
        // Bar chart
        new Chart(document.getElementById("barchart"), {
            type: 'bar',
            data: {
                labels: {{ sale | safe}},
            datasets: [
            {
                label: "Sales",
                backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850","#F5E027","#5EF527"],
                data: {{ per_product | safe}}
                    }
        ]
            },
            options: {
            legend: { display: false },
            title: {
                display: true,
                text: 'Sales Per Product'
            }
        }
        });
        new Chart(document.getElementById("linechart"), {
            type: 'line',
            data: {
                labels: {{ days | safe}},
            datasets: [{
                data: {{ mysales | safe}},
            label: "Sales",
            borderColor: "#3e95cd",
            fill: false
                }
        ]
            },
            options: {
            title: {
                display: true,
                text: 'Sales Per Day'
            }
        }
        });
    </script>
{% endblock %}