{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="../static/css/register.css">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <canvas id="myCanvas" width="600" height="100"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- <div class="register"> -->
                    <form action="/register" method="post">
                        <label for="fname"><strong>First Name:</strong></label><br>
                        <input type="text" name="fname" id="fname" required class="r"><br>
                        <label for="fname"><strong>Last Name:</strong></label><br>
                        <input type="text" name="lname" id="lname" required class="r"><br>
                        <label for="email"><strong>Email:</strong></label><br>
                        <input type="email" id="email" name="email" required class="r"><br>
                        <label for="password"><strong>Password:</strong></label><br>
                        <input type="password" name="password" required class="r"><br><br>
                        <input type="submit" value="Register" class="b"><br><br>
                        <h6>Have an account already?<a href="/login" class="link">Log in</a></h6>
                    </form>
                <!-- </div> -->
            </div>
        </div>
    </div>
    <script>
        const canvas = document.getElementById('myCanvas');
        const ctx = canvas.getContext('2d');

        // Set the font style using the stylish font family
        ctx.font = '48px Pacifico, cursive';
        ctx.fillStyle = '#000';
        ctx.textAlign = 'center';
        ctx.textBaseline = 'middle';

        // Draw the text on the canvas
        ctx.fillText('Join My Duka Today', canvas.width / 2, canvas.height / 2);
    </script>
{% endblock %}