<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <style>

    </style>
</head>

<body>
    <div class="container-fluid position-fixed">
        <nav class="navbar navbar-dark bg-black opacity-75">
            <div class="container-fluid">
                <a class="navbar-brand text-primary-emphasis" href="#"><strong>MY DUKA</strong></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link " href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/products">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/sales">Sales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/stock">Stock</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="box1" style="background-color: rgb(115, 130, 214);padding-top: 80px;">
        <h1 style="text-align: center;">sales page</h1>
        <div class="image1">

        </div>
        <!-- <p>{{sale}}</p> -->
        <!-- Button trigger modal -->
        <button style="margin-left: 600px;" type="button" class="btn btn-warning my-5" data-bs-toggle="modal"
            data-bs-target="#exampleModal">
            Insert Sales
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Sales</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/add_sales" method="post">
                            <!-- <div class="mb-3">
                                <label for="formGroupExampleInput" class="form-label">Sales ID</label>
                                <input type="text" class="form-control" id="formGroupExampleInput"
                                    placeholder="Enter Sales ID" name="sid">
                            </div> -->
                            <div class="mb-3">
                                <label for="pid">Select Product</label>
                                <select name="spid" id="pid">
                                    {% for productt in prods %}
                                    <option value="{{productt[0]}}">{{productt[1]}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="formGroupExampleInput" class="form-label">Quantity</label>
                                <input type="text" class="form-control" id="formGroupExampleInput"
                                    placeholder="Enter Quantity" name="quantity">
                            </div>
                            <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        
                    </div>
                </div>
            </div>
        </div>
        <div>
            <table class="table  table-striped-columns table-hover table-bordered">
                <thead style="background-color: rgb(236, 167, 16);">
                    <tr>
                        <th>Sales ID</th>
                        <th>Product ID</th>
                        <th>Quantity</th>
                        <th>Created At</th>
                    </tr>
                </thead>
                <tbody>
                    {%for sales in sale%}
                    <tr>
                        <td>{{sales[0]}}</td>
                        <td>{{sales[1]}}</td>
                        <td>{{sales[2]}}</td>
                        <td>{{sales[3]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
        integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
        crossorigin="anonymous"></script>
</body>

</html>