<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/stock.css ">
    <link rel="stylesheet" href="//cdn.datatables.net/2.3.4/css/dataTables.dataTables.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-black navbar-dark opacity-75 fixed-top">
        <div class="container-fluid ">
            <a href="" class="icon py-0"><i class="fa-solid fa-shop fa-beat-fade fa-2xl"
                    style="color: #555658;"></i></a>
            <a class="navbar-brand" href="#">My Duka</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <a href="" class="icon py-1"><i class="fa-solid fa-table-columns fa-beat-fade fa-2xl"
                            style="color: #57595c;"></i></a>
                    <li class="nav-item px-2">
                        <a class="nav-link " href="/dashboard">DashBoard</a>
                    </li>
                    <a href="" class="icon py-1"><i class="fa-solid fa-house fa-beat-fade fa-2xl"
                            style="color: #545a64;"></i></a>
                    <li class="nav-item px-2">
                        <a class="nav-link " href="/">Home</a>
                    </li>
                    <a href="" class="icon py-1"><i class="fa-solid fa-basket-shopping fa-beat-fade fa-2xl" style="color: #434851;"></i></a>
                    <li class="nav-item px-2">
                        <a class="nav-link " href="/products">Products</a>
                    </li>
                    <a href="" class="icon py-1"><i class="fa-solid fa-cart-shopping fa-beat-fade fa-2xl"
                            style="color: #46444b;"></i></a>
                    <li class="nav-item px-2">
                        <a class="nav-link" href="/sales">Sales</a>
                    </li>
                    <a href="" class="icon py-1"><i class="fa-solid fa-arrow-trend-up fa-beat-fade fa-2xl"
                            style="color: #55585e;"></i></a>
                    <li class="nav-item px-2">
                        <a class="nav-link active" aria-current="page" href="/stock">Stock</a>
                    </li>
                    <a href=""></a>
                    <li class="nav-item px-2">
                        <a class="nav-link " href="/register">REGISTER</a>
                    </li>
                    <a href=""></a>
                    <li class="nav-item">
                        <a class="nav-link " href="/login"><button class="l">LOGIN</button></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="box">
        <div class="box1">
            <h1>Stock page</h1>
        </div>
        <div class="bg">

        </div>
        <!-- <div class="container-fluid">
            <img src="../static/images/stock.jpg" alt="" class="img-fluid">
        </div> -->
        <!-- <p>{{mystock}}</p> -->
        <!-- Button trigger modal -->
        <button style="margin-left: 600px ;" type="button" class="btn btn-warning" data-bs-toggle="modal"
            data-bs-target="#exampleModal">
            Insert Stock
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Stock</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/add_stock" method="post">
                            <!-- <div class="mb-3">
                                <label for="formGroupExampleInput" class="form-label">Stock ID</label>
                                <input type="text" class="form-control" id="formGroupExampleInput"
                                    placeholder="Enter Stock ID" name="stid">
                            </div> -->
                            <label for="spid">Select Product</label>
                            <select name="stpid" id="spid">
                                {% for prods in my_prods %}
                                <option value="{{prods[0]}}">{{prods[1]}}</option>
                                {% endfor %}
                            </select>
                            <div class="mb-3">
                                <label for="formGroupExampleInput" class="form-label">Stock Quantity</label>
                                <input type="text" class="form-control" id="formGroupExampleInput"
                                    placeholder="Enter Stock Quantity" name="stockquantity">
                            </div>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
        <div>
            <table class="table table-striped table-striped-columns table-hover table-bordered display" id="myTable">
                <thead style="background-color: rgb(236, 167, 16);">
                    <tr>
                        <th>Stock ID</th>
                        <th>Product ID</th>
                        <th>Stock Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in mystock%}
                    <tr>
                        <td>{{stock[0]}}</td>
                        <td>{{stock[1]}}</td>
                        <td>{{stock[2]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//cdn.datatables.net/2.3.4/js/dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
        integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
        crossorigin="anonymous"></script>
    <script>
        let table = new DataTable('#myTable');
    </script>
</body>

</html>