<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas with Stylish Font</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <style>
        /* Import a stylish font from Google Fonts or use a custom font */
        @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

        body {
            font-family: 'Arial', sans-serif;
            /* display: flex;
            justify-content: center;
            align-items: center; */
            height: 60px;
            margin-top: 100px;
            /* background-color: #5cc1fc; */
        }

        canvas {
            /* border: 2px solid #333;
            background-color: #69e9ee; */
            margin-left: 400px;
            color: #2023df;
        }

        img {
            height: 600px;
            /* display: block; */
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-black navbar-dark opacity-75 fixed-top">
        <div class="container-fluid ">
            <a href="" class="icon py-0"><i class="fa-solid fa-shop fa-beat-fade fa-2xs"
                    style="color: #555658;"></i></a>
            <a class="navbar-brand" href="#">My Duka</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <a href="" class="icon py-0"><i class="fa-solid fa-table-columns fa-beat-fade fa-2xs"
                            style="color: #57595c;"></i></a>
                    <li class="nav-item px-4">
                        <a class="nav-link " href="/dashboard">DashBoard</a>
                    </li>
                    <a href="" class="icon py-0"><i class="fa-solid fa-house fa-beat-fade fa-2xs"
                            style="color: #545a64;"></i></a>
                    <li class="nav-item px-4">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <a href="" class="icon py-0"><i class="fa-solid fa-basket-shopping fa-beat-fade fa-2xs"
                            style="color: #4b5462;"></i></a>
                    <li class="nav-item px-4">
                        <a class="nav-link" href="/products">Products</a>
                    </li>
                    <a href="" class="icon py-0"><i class="fa-solid fa-cart-shopping fa-beat-fade fa-2xs"
                            style="color: #46444b;"></i></a>
                    <li class="nav-item px-4">
                        <a class="nav-link" href="/sales">Sales</a>
                    </li>
                    <a href="" class="icon py-0"><i class="fa-solid fa-arrow-trend-up fa-beat-fade fa-2xs"
                            style="color: #55585e;"></i></a>
                    <li class="nav-item px-4">
                        <a class="nav-link " href="/stock">Stock</a>
                    </li>
                    <a href=""></a>
                    <li class="nav-item px-4">
                        <a class="nav-link " href="/register">REGISTER</a>
                    </li>
                    <a href=""></a>
                    <li class="nav-item px-4">
                        <a class="nav-link " href="/login">LOGIN</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <canvas id="myCanvas" width="600" height="200"></canvas>

    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../static/images/img.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../static/images/home3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../static/images/home2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../static/images/home1.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="w">
        <h2>MORE ABOUT OUR SYSTEMS</h2>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-7">
                <img src="../static/images/home4.jpg" alt="" class="img-fluidd">
            </div>
            <div class="col-5">
                <h3><strong>Reliable point of sale.</strong></h3>
                <p>Our system ensures successfull transactions of sale</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                <h3><strong>Quick and Easy shopping.</strong></h3>
                <p>The system facilitates smooth shopping without complication</p>
            </div>
            <div class="col-7">
                <img src="../static/images/pic.jpg" alt="" class="img-fluidd">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-7">
                <img src="../static/images/img3.jpeg" alt="" class="img-fluidd">
            </div>
            <div class="col-5">
                <h3><strong>Quality Assuarance.</strong></h3>
                <p>Our products are top-notch high quality!Only the Best for you</p>
            </div>
        </div>
    </div>
    <script>
        const canvas = document.getElementById('myCanvas');
        const ctx = canvas.getContext('2d');

        // Set the font style using the stylish font family
        ctx.font = '48px Pacifico, cursive';
        ctx.fillStyle = '#333';
        ctx.textAlign = 'center';
        ctx.textBaseline = 'middle';

        // Draw the text on the canvas
        ctx.fillText('Welcome to My Duka!!', canvas.width / 2, canvas.height / 2);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
        integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
        crossorigin="anonymous"></script>
</body>

</html -->